.bottom-cta {
	background: linear-gradient(to bottom, $brand-color 0%, $middle-gradient-color 100%);
	color: #fff;
	text-align: center;
	margin: 0;
	padding: 100px 0;

	h2 {
		margin-bottom: 50px;
	}
}

.testimonial {
	background: #f5f5f5;
	margin: 0;
	padding: 50px 0;

	.testimonial-block {
		max-width: 750px;
		width: 98%;
		margin: 0 auto;

		@media #{$small-mobile} {
			@include flexbox;

			blockquote {
				-webkit-flex: 1;
				flex: 1;
			}
		}
	}
}

.gray-background {
	background: #f5f5f5;
	margin: 0;
	padding: 30px 0;
}

.white-background {
	margin: 0;
	padding: 30px 0;
}

.abstract-text {
	font-size: 1em;
	text-align: justify;
	text-justify: auto;
}

.hero {
	color: #ffffff;
	text-align: center;
	background: linear-gradient(to bottom, $middle-gradient-color 0%, $secondary-brand-color 100%) no-repeat #a05fb7;
	padding-top: 50px;

	p {
		color: #fff;
	}
}

.small-staff {
	padding: 0;
	list-style: none;
	@extend %flexbox;
	@include flex-flow(wrap);
	text-align: center;
	li {
		padding: 30px 20px;
		box-sizing: border-box;
		width: 100%;

		@media #{$small-mobile} {
			@include flex(1, 1, 45%);
		}

		@media #{$tablet} {
			@include flex(1, 1, 29%);
		}

	}

	.small-square-image {
		width: 144px;
		height: 144px;
			img {
				border-radius: 144px;
			}
		}

	}

.small-logo {
	width: 50%;
	padding-top: 20px;
	padding-bottom: 20px;
}

@media #{$mobile} {
	.small-logo {
		width: 50%;
		padding-top: 20px;
		padding-bottom: 20px;
	}
}

@media #{$tablet} {
	.small-logo {
		// no height or width to let the flex box do its thing
		width: 50%;
		padding-top: 20px;
		padding-bottom: 20px;
		// border: 2px dashed rgba(236, 48, 48, 0.5);
	}
}

.download-buttons {
	margin-top: 40px;	
}

.stacked-button {
	display: block; 
}

@media #{$tablet} {
	.stacked-button {
		display: none;
	}
}

.concated-button {
	display: none; 
}

@media #{$tablet} {
	.concated-button {
		display: block;
	}
}

@media #{$tablet} {
	.flex {
		@include flexbox;
		align-items: center;
		flex-direction: row;

		.text, .image {
			-webkit-flex: 1;
			flex: 1;
			padding: 0 20px;
		}
	}

	.content section:nth-child(even) .flex {
		flex-direction: row-reverse;
	}
}

.grid-container {
	display: grid;
	grid-template-columns: 100px 100px 100px 100px 100px;
	grid-template-rows: auto;
  
	box-sizing: border-box;
	width: 500px;
	// height: 200px;
	margin-left: auto;
	margin-right: auto;
  
	// background: rgba(114, 186, 94, 0.05);
	// border: 2px dashed rgba(114, 186, 94, 0.35);

	justify-items: center;
  }
  
  .grid-item {
	box-sizing: border-box;
	// width: 50px;
	// height: 50px;
	// background: rgba(255, 213, 70, 0.4);
	// border: 2px dashed rgba(236, 198, 48, 0.5);
  }
  
.code {
	font-family: "SFMono-Regular","Menlo","Monaco","Consolas","Liberation Mono","Courier New",monospace;
	background-color: adjust-color($color: #f5f5f5, $lightness: -10%);
}
